<%- include('./partials/header')%>

<div class="container">
    <%- include('./partials/flash')%>
    <h1 class="mt-5">This is Error Page</h1> 
    <a href="/blogs">Back to Home</a>
    <img src="https://cdn1.vectorstock.com/i/1000x1000/48/25/error-page-page-not-found-something-went-wrong-vector-31554825.jpg" alt="">
</div>



<%- include('./partials/footer')%> 